label, input{
	display: block;
}

label{
	margin-bottom: 0px !important;
}

input{
	margin-bottom: 5px !important;
	width: 250px;
}

#inputSummary{
	margin: 10px;
	padding: 2px;
	height: 150px;
	color: maroon;
	background: #eee;	
}

h4{
	text-align: center;
}