@import "_borderbox.css";


div{

	font-size: 32px;
	width: 40%;
	margin: 10px auto;
}

a{
	font-family: arial;
	font-size: 32px;
	text-transform: uppercase;
	text-decoration: overline;
	font-weight: 500;
}

li{
	list-style-type: upper-roman; 
	float: right;
}

ul:after{

}