.box{
  width:100px;
  height:100px;
  display:inline-block;
  line-height:100px;
  text-align: center;
}

.box1{
  background-color:tomato;
  position:relative; 
  left:100px;
  z-index:100 ;
  /*display: none;*/

}
.box2{
  position:relative;
  background-color:lightgreen;
  top:50px;
  z-index: 100;
}
.box3{
  position:relative;
  background-color:lightblue;
  top: 100px;
  right:50px; 
  z-index: 1;
}

.bordersolid1{
  border: 1px solid black;
}
