* {
 //  border: 1px solid red;
}

#main {
    width: 80%;
    margin: auto;
    font-family: serif;
    font-size: 1em;
}

#header {
    text-align: center;
}

#header h1 {
    color: purple;
    font-family: sans-serif;
    font-size: 3em;
    margin-bottom: 10px;
}

#header p {
    color: gray;
    font-family: sans-serif;
    font-size: 0.9em;
}
.section {
    color: gray;
    text-align: justify;
}

.section h2 {
    font-family: sans-serif;
    color: black;
    font-size: 1em;
}

.section li {
    margin-bottom: 10px;
}

#links img {
    height: 50px;
    width: auto;
    margin: 0 20px;
    margin-bottom: 20px;
}

#education p {
    text-indent: 10px;
    margin: 5px;


